@import "tailwindcss";

:root {
  --bg-color-primaray: #04161b;
  --bg-color-secondary: #05171b;
  --text-color-primaray: #ffff;
  --text-color-secondary: #e2e2e2;
  
}


button {
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 700;
}
button:hover {
  opacity: 80%;
}
h1,h2,h3,h4,h5,h6 {
   text-transform: capitalize;
   font-weight: 700;
}

input:focus,textarea:focus {
  outline: none;
}


