@import "tailwindcss";

:root {
  --bg-color-primaray: #e2e2e2;
  --bg-color-secondary: #fdfdfd;
  --text-color-primaray: #04161b;
  --text-color-secondary: #05171b;
  --border-color-primaray: #e2e2e2;
  --border-color-secondary: #fdfdfd;
}
 .dark {
  --bg-color-primaray: #111b21;
  --bg-color-secondary: #162127;
  --text-color-primaray: #ffff;
  --text-color-secondary: #e2e2e2;
  --border-color-primaray: #092329;
  --border-color-secondary: #092025;
}

.bg-p {
  background-color: var(--bg-color-primaray);
}
.bg-s {
  background-color: var(--bg-color-secondary);
}

.text-p {
  background-color: var(--text-color-primaray);
}
.tex-s {
  background-color: var(--text-color-secondary);
}

button {
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 700;
}

.container-h {
  height: calc(100% - 67px);
}
@media (min-width: 768px) {
  .container-h {
    height: 100%;
  }
}

button:hover {
  opacity: 80%;
}

h1,h2,h3,h4,h5,h6 {
   text-transform: capitalize;
   font-weight: 700;
}

input:focus,textarea:focus {
  outline: none;
}

body {
  background-color: #213036;
}

/* Dark scrollbar */
* {
  scrollbar-color: #111b21 #162127;
}

::-webkit-scrollbar-track {
  background: #162127;
}

::-webkit-scrollbar-thumb {
  background: #111b21;
  border-color: #162127;
}

